body {
  padding: 20;
  margin: 20;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 98%;
  height: 95%;
}

.container {
	width: 70%;
	height: 95%;
  margin-left: 10%;
  float: left;
}

.teams_container {
  width: 20%;
  height: 20%;
  outline: solid 1px black;
  float: right;
  display: none;
}

.chat_container {
  width: 20%;
  height: 20%;
  outline: solid 1px black;
  float: right;
  display: none;
}

.chat_message_box {
  margin: 5px;
  height:100px;
  outline: solid 1px black;
  float: center;
  background-image: url("images/chat_background.png");
  text-align: left;
}

.teams_row {
  text-align: center;
  width: 20%;
}

#teams_header {
  width: 35%;
}

#teams_team1 {
  width:30%;
}

#teams_team2 {
  width:30%;
}

.shirt_img {
  width: 100%;
  height: 5%;
}

.selector_shirt {
  width: 100%;
  height: 5%;
}

.unscrambler_shirt {
  width: 74%;
  height: 5%;
}


.intro_slide {
  width: 100%;
  height: 95%;
}

.intro_container {
  width: 100%;
}

.instructions_slide {
  width: 100%;
  height: 100%;
}

.instructions_container {
  width: 100%;
}

.initials_container {
  width: 100%;
}

.loading_slide {
  width: 100%;
  height: 100%;
}

.loading_container {
  width: 100%;
}

.condition_slide {
  width: 100%;
  height: 100%;
}

.condition_container {
  width: 100%;
}

.evidence_slide {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.evidence_container {
	width: 100%;
}

.evidence {
  width: 100%;
  float: center;
}

.eval_slide {
  width: 100%;
}

.eval_container {
  width: 100%;
}

.row {
  width: 100%;
}


.practice_question, .practice_answer, .practice_evaluation {
  margin:10px;
  text-align: center;
  width: 40%;
}

.slider_question_container {
  width: 100%;
  margin: 20px;
  padding:20px;
}

.question {
  width: 100%;
}

.slider_left_text {
  width: 20%; 
  float: left; 
  text-align: right; 
  margin-top: 15px;
  margin-right: 10px;
}

.slider_right_text {
  width: 25%; 
  float: left; 
  text-align: left; 
  margin-top: 15px; 
  margin-left: 10px;
}

.slider_unanswered {

}

.slider {
  width: 50%; 
  float: left; 
  margin-top: 10px;
  outline: black solid 2px; 
}

.manip_slide {
  width: 100%;
}

.manip_container {
  width: 100%;
}

.task_question {
  width: 100px;
  margin-top: 20px;
  text-align: center;
}

.task_answer {
  width: 100px;
  margin-top: 20px;
  text-align: center;
}

.task_evaluation {
  width: 100px;
  margin-top: 20px;
  text-align: center;
}

.task_time {
  width: 100px;
  margin-top: 20px;
  text-align: center;
}


.manipulation_question_container {
  width: 100%;
  margin: 20px;
}

.question {

}

.check_mark {
  width:50px;
  height:50px;
}

.team_img {
  width: 100%;
  height: 100%;
}

.button_container {
  width: 100%;
  height: 10%;
}

.continue_button {
}


input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}

button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}

.slide {
  width: 95%;
  height: 95%;
  display: none;
  position: absolute;
  margin: 0;
  margin-left: 0.5%;
  padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
  background: url(images/button-gradient.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 29px;
  min-width: 70px;
  text-align: center;
}
button:active {
  border-left: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  background: none;
  background-color: #c9c9c9;
  text-align: center;

}

button[disabled] {
  background: url(zen-button.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  cursor: not-allowed;
  text-align: center;

}

#logo-text {
  font-weight: bold;
}

.block-text {
  width: 80%;
  text-align: justify;
  margin: 2 auto;
  margin-bottom: 1em;
  line-height:1.2em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}


.progress{
    text-align: center;
    margin-top:0.5em;
}

.progress span{
    position:relative;
    top: -6px;
    text-align: center;
}

.bar-wrapper{
    height:20px;
    width:200px;
    border:1px solid #000000;
    display:inline-block;
    text-align: center;
}

.bar{
    position:relative;
    height:100%;
    width:0px;
    background-color:DarkRed;
    text-align: center;
}


