body {
  padding: 20;
  margin: 20;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 95%;
  height: 95%;
}

.container {
	width: 800px;
	height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro_slide {
  width: 800px;
  height: 600px;
}

.intro_container {
  width: 800px;
}

.instructions_slide {
  width: 800px;
  height: 600px;
}

.instructions_container {
  width: 800px;
}

.loading_slide {
  width: 800px;
  height: 600px;
}

.loading_container {
  width: 800px;
}

.condition_slide {
  width: 800px;
  height: 600px;
}

.condition_container {
  width: 800px;
}

.evidence_slide {
  width: 800px;
  height: 600px;
}

.evidence_container {
	width: 800px;
}

.evidence {
  width: 800px;
  float: center;
}

.row {
  width: 800px;
}

.slider_left_text {
  width: 185px; 
  float: left; 
  text-align: right; 
  margin-top: 15px;
  margin-right: 10px;
}

.slider_right_text {
  width: 185px; 
  float: left; 
  text-align: left; 
  margin-top: 15px; 
  margin-left: 10px;
}

.slider {
  width: 400px; 
  float: left; 
  margin-top: 10px;
  outline: black solid 2px; 
}

.task_question {
  width: 300px;
  margin-top: 20px;
  text-align: center;
}

.task_answer {
  width: 300px;
  margin-top: 20px;
  text-align: center;
}


.task_evaluation {
  width: 180px;
  margin-top: 20px;
  text-align: center;
}

.slider_question_container {
	width: 800px;
  height:100px;
  margin: 20px;
}

.manipulation_question_container {
  width: 800px;
  margin: 20px;
}

.question {

}

.check_mark {
  width:50px;
  height:50px;
}

.team_img {
  width: 70px;
  height: 50px;
}

.button_container {
  width: 800px;
  height: 50px;
}

.continue_button {
}


input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}

button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}

.slide {
  width: 95%;
  height: 95%;
  display: none;
  position: absolute;
  margin: 0;
  margin-left: 0.5%;
  padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
  background: url(images/button-gradient.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 29px;
  min-width: 70px;
  text-align: center;
}
button:active {
  border-left: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  background: none;
  background-color: #c9c9c9;
  text-align: center;

}

button[disabled] {
  background: url(zen-button.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  cursor: not-allowed;
  text-align: center;

}

#logo-text {
  font-weight: bold;
}

.block-text {
  width: 500px;
  text-align: justify;
  margin: 2 auto;
  margin-bottom: 1em;
  line-height:1.2em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}


.progress{
    text-align: center;
    margin-top:0.5em;
}

.progress span{
    position:relative;
    top: -6px;
    text-align: center;
}

.bar-wrapper{
    height:20px;
    width:200px;
    border:1px solid #000000;
    display:inline-block;
    text-align: center;
}

.bar{
    position:relative;
    height:100%;
    width:0px;
    background-color:DarkRed;
    text-align: center;
}


